pandas>=1.5.1
matplotlib==3.2.2
numpy>=1.21.6
nbformat>=5.7.0
plotly==5.11.0
DateTime
TA_Lib-0.4.24-cp310-cp310-win_amd64.whl
backtrader
mplfinance==0.12.9b5
ta-lib
backtrader
https://github.com/matplotlib/mpl_finance/archive/master.zip
mplfinance==0.12.9b5
boto3==1.26.27
flask==2.2.2
statsmodels==0.13.5
tensorflow==2.11.0

openbb==2.3.1
# TA_Lib-0.4.24-cp310-cp310-win_amd64.whl
