<!DOCTYPE html>

<html lang="en-US">
  <head>
  </head>
  <body>
    <hr />
    <form action="{{url_for('check')}}" method="post">
      Instrument:
      <select name="instrument" id="instrument" required>
        <option value="Nifty">nifty</option>
        <option value="Reliance">reliance</option>
      </select>
      <br />
      Timeframe:
      <select name="timeframe" id="timeframe" required>
        <option value="1min">1min</option>
        <option value="5min">5min</option>
        <option value="1day">1day</option>
      </select>
      <br />
      Date Range:
      <input type="date" name="from" id="from" required />&emsp;
      <input type="date" name="to" id="to" required />
      <br />
      Indicator:
      <div id="original">
        <select name="indicator">
          <option value="SMA">SMA</option>
          <option value="EMA">EMA</option>
          <option value="RSI">RSI</option>
          <option value="BBANDS">BBANDS</option>
        </select>
        <select name="field">
          <option value="open">open</option>
          <option value="close">close</option>
          <option value="high">high</option>
          <option value="low">low</option>
          <option value="volume">volume</option>
        </select>
        <select name="timeperiod">
          <option value="10">10</option>
          <option value="14">14</option>
          <option value="20">20</option>
        </select>
      </div>
      <br />
      <br />
      <button id="sub" type="submit">Click me</button>
    </form>
  </body>
  <hr />
</html>
